.modal {
    .modal-dialog {
        .modal-content {
            .modal-header {
                background-color: $primary;

                .modal-title {
                    text-transform: uppercase;
                    color: $white;
                    font-weight: bold;
                    font-family: $title !important;
                }

            }

            .modal-body {


                .modal-warning {
                    // border: 1px solid red;
                    @include mp(0);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    color: $gray-900;
                    font-weight: 500;
                    font-family: $text !important;

                    .modal-warning-icon {
                        // border: 1px solid red;

                        i {
                            @include mp(0);
                            font-family: $font-awesome !important;
                            font-size: 4rem;
                            color: $danger;
                        }
                    }

                    .modal-warning-title {
                        @include pt(5px);

                        h3 {
                            color: $danger;
                            font-weight: bold !important;
                            font-family: $title !important;
                            text-transform: uppercase;
                        }
                    }

                    .modal-warning-body {
                        @include pt(5px);
                    }
                }

                .form-group {
                    label {
                        text-align: left !important;
                        color: $gray-900;
                        font-family: $title !important;
                        font-weight: bold;
                        text-transform: uppercase;

                        display: flex;
                        justify-content: start;
                        align-items: center;
                        // font-size: 0.875rem !important;
                    }

                    input,
                    select {
                        border-color: $primary;
                        font-weight: normal !important;
                    }

                    option {
                        font-size: 1.2rem;
                        font-weight: normal;
                    }
                }
            }

            .modal-footer {
                // border-top-color: $primary !important;
                @include my(0);
                @include py($s2);

                button {
                    text-transform: uppercase;
                    font-weight: bold;

                    i {
                        font-family: $font-awesome !important;
                    }

                    span {
                        @include ms($s1);
                        font-family: $title !important;
                    }
                }
            }
        }
    }
}