// MARGIN TOP
.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: ($spacer * .25) !important;
}

.mt-2 {
    margin-top: ($spacer * .5) !important;
}

.mt-3 {
    margin-top: $spacer !important;
}

.mt-4 {
    margin-top: ($spacer * 1.5) !important;
}

.mt-5 {
    margin-top: ($spacer * 3) !important;
}

// MARGIN BOTTOM
.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: ($spacer * .25) !important;
}

.mb-2 {
    margin-bottom: ($spacer * .5) !important;
}

.mb-3 {
    margin-bottom: $spacer !important;
}

.mb-4 {
    margin-bottom: ($spacer * 1.5) !important;
}

.mb-5 {
    margin-bottom: ($spacer * 3) !important;
}

// MARGIN LEFT
.ms-0 {
    margin-left: 0 !important;
}

.ms-1 {
    margin-left: ($spacer * .25) !important;
}

.ms-2 {
    margin-left: ($spacer * .5) !important;
}

.ms-3 {
    margin-left: $spacer !important;
}

.ms-4 {
    margin-left: ($spacer * 1.5) !important;
}

.ms-5 {
    margin-left: ($spacer * 3) !important;
}

// MARGIN RIGHT
.me-0 {
    margin-right: 0 !important;
}

.me-1 {
    margin-right: ($spacer * .25) !important;
}

.me-2 {
    margin-right: ($spacer * .5) !important;
}

.me-3 {
    margin-right: $spacer !important;
}

.me-4 {
    margin-right: ($spacer * 1.5) !important;
}

.me-5 {
    margin-right: ($spacer * 3) !important;
}

// MARGIN RIGHT
.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.mx-1 {
    margin-right: ($spacer * .25) !important;
    margin-left: ($spacer * .25) !important;
}

.mx-2 {
    margin-right: ($spacer * .5) !important;
    margin-left: ($spacer * .5) !important;
}

.mx-3 {
    margin-right: $spacer !important;
    margin-left: $spacer !important;
}

.mx-4 {
    margin-right: ($spacer * 1.5) !important;
    margin-left: ($spacer * 1.5) !important;
}

.mx-5 {
    margin-right: ($spacer * 3) !important;
    margin-left: ($spacer * 3) !important;
}

// MARGIN RIGHT
.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-1 {
    margin-top: ($spacer * .25) !important;
    margin-bottom: ($spacer * .25) !important;
}

.my-2 {
    margin-top: ($spacer * .5) !important;
    margin-bottom: ($spacer * .5) !important;
}

.my-3 {
    margin-top: $spacer !important;
    margin-bottom: $spacer !important;
}

.my-4 {
    margin-top: ($spacer * 1.5) !important;
    margin-bottom: ($spacer * 1.5) !important;
}

.my-5 {
    margin-top: ($spacer * 3) !important;
    margin-bottom: ($spacer * 3) !important;
}

// padding TOP
.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: ($spacer * .25) !important;
}

.pt-2 {
    padding-top: ($spacer * .5) !important;
}

.pt-3 {
    padding-top: $spacer !important;
}

.pt-4 {
    padding-top: ($spacer * 1.5) !important;
}

.pt-5 {
    padding-top: ($spacer * 3) !important;
}

// padding BOTTOM
.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: ($spacer * .25) !important;
}

.pb-2 {
    padding-bottom: ($spacer * .5) !important;
}

.pb-3 {
    padding-bottom: $spacer !important;
}

.pb-4 {
    padding-bottom: ($spacer * 1.5) !important;
}

.pb-5 {
    padding-bottom: ($spacer * 3) !important;
}

// padding LEFT
.ps-0 {
    padding-left: 0 !important;
}

.ps-1 {
    padding-left: ($spacer * .25) !important;
}

.ps-2 {
    padding-left: ($spacer * .5) !important;
}

.ps-3 {
    padding-left: $spacer !important;
}

.ps-4 {
    padding-left: ($spacer * 1.5) !important;
}

.ps-5 {
    padding-left: ($spacer * 3) !important;
}

// padding RIGHT
.pe-0 {
    padding-right: 0 !important;
}

.pe-1 {
    padding-right: ($spacer * .25) !important;
}

.pe-2 {
    padding-right: ($spacer * .5) !important;
}

.pe-3 {
    padding-right: $spacer !important;
}

.pe-4 {
    padding-right: ($spacer * 1.5) !important;
}

.pe-5 {
    padding-right: ($spacer * 3) !important;
}

// padding RIGHT
.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.px-1 {
    padding-right: ($spacer * .25) !important;
    padding-left: ($spacer * .25) !important;
}

.px-2 {
    padding-right: ($spacer * .5) !important;
    padding-left: ($spacer * .5) !important;
}

.px-3 {
    padding-right: $spacer !important;
    padding-left: $spacer !important;
}

.px-4 {
    padding-right: ($spacer * 1.5) !important;
    padding-left: ($spacer * 1.5) !important;
}

.px-5 {
    padding-right: ($spacer * 3) !important;
    padding-left: ($spacer * 3) !important;
}

// padding RIGHT
.py-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.py-1 {
    padding-top: ($spacer * .25) !important;
    padding-bottom: ($spacer * .25) !important;
}

.py-2 {
    padding-top: ($spacer * .5) !important;
    padding-bottom: ($spacer * .5) !important;
}

.py-3 {
    padding-top: $spacer !important;
    padding-bottom: $spacer !important;
}

.py-4 {
    padding-top: ($spacer * 1.5) !important;
    padding-bottom: ($spacer * 1.5) !important;
}

.py-5 {
    padding-top: ($spacer * 3) !important;
    padding-bottom: ($spacer * 3) !important;
}